---
layout: default
---
{% for post in site.posts %}
	<article class="box post post-excerpt">
		<header>
			<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
		</header>
		<div class="info">
			<span class="date">
				<span class="month">
{% assign m = post.date | date: "%B" %}
{% case m %}
  {% when 'May' or June' or 'July' %}{{ m }}
  {% when 'September' %}Sept.
  {% else %}{{ post.date | date: "%b" }}
  {% endcase %}			
				</span> 
				<span class="day">{{ post.date | date: "%-d" }}</span>
				<span class="year">, {{ post.date | date: "%Y" }}</span>
	{% comment %}
			<ul class="stats">
				<li><a href="#" class="icon fa-comment">16</a></li>
				<li><a href="#" class="icon fa-heart">32</a></li>
				<li><a href="#" class="icon fa-twitter">64</a></li>
				<li><a href="#" class="icon fa-facebook">128</a></li>
			</ul>
	{% endcomment %}
		</div>
{% comment %}
		<a href="#" class="image featured"><img src="/assets/images/pic01.jpg" alt="" /></a>
{% endcomment %}
		{{ post.content }}
		<hr />
	</article>
{% endfor %}

{% comment %}
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
{% endcomment %}