<!DOCTYPE html>
<html>
	{% include head.html %}
<body>
<div id="wrapper">
	<header id="header">
		<div class="inner">
			<a href="/" class="logo"><span class="title">FoodJumper</span></a>
			<nav>
				<ul>
				<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<nav id="menu">
		<h2>Menu</h2>
		<ul>
			<li class="current"><a href="/">Latest Posts</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="https://github.com/freekrai/foodjumper/issues/new" target="_blank">Submit Your Recipe</a></li>
		</ul>
	</nav>
	<div id="main">
		<div class="inner">
			{{ content }}
		</div>
	</div>
</div>
<!-- Scripts -->
<script src="/assets/js/jquery.min.js?v=1.2"></script>
<script src="/assets/js/skel.min.js?v=1.2"></script>
<script src="/assets/js/util.js?v=1.2"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js?v=1.2"></script><![endif]-->
<script src="/assets/js/main.js?v=1.2"></script>
</body>
</html>