---
layout: default
---
<article class="box post post"  itemscope itemtype="http://schema.org/BlogPosting">
	<h1 itemprop="name headline">{{ page.title }}</h1>
	{% if page.photo %}
		<span class="image main"><img src="{{ page.photo | prepend: site.baseurl }}" alt="{{page.title}}" /></span>
	{% endif %}
	<div class="post-content" itemprop="articleBody">	
		<div class="well">
			{{ content }}
		</div>
		{% if page.ingredients.size > 0 %}
			<h3>What You Need</h3>
			<ul class="fa-ul">
			{% for item in page.ingredients %}
			<li><i class="fa-li fa fa-check-square"></i>{{ item | capitalize }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	
		{% if page.steps.size > 0 %}
			<h3>How to Make It</h3>
			<ul class="fa-ul">
			{% for item in page.steps %}
			<li><i class="fa-li fa fa-check-square"></i>{{ item | capitalize }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		<hr />
		<div class="row">
			<div class="6u 12u(narrow)">			
		{% if page.options.size > 0 %}
			<h3>Optional</h3>
			<ul class="fa-ul">
			{% for item in page.options %}
			<li><i class="fa-li fa fa-check-square"></i>{{ item | capitalize }}</li>
			{% endfor %}
			</ul>
		{% endif %}
			</div>
			<div class="6u 12u(narrow)">
		{% if page.dependencies.size > 0 %}
			<h3>Dependencies</h3>
			<ul class="fa-ul">
			{% for item in page.dependencies %}
			<li><i class="fa-li fa fa-check-square"></i>{{ item | capitalize }}</li>
			{% endfor %}
			</ul>
		{% endif %}
			</div>
		</div>
		{% if page.attribution %}
		<div>
			<p>
				Recipe By <a href="{{page.attribution}}">{{page.attribution}}</a>
			</p>
		</div>
		{% endif %}
		</div>
	</div>
</article>